#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar-div{
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%
}

/* SEARCH BAR */

.search-div {
  position: relative; /* Make the search results list position relative to this container */
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.searchbar {
  margin: 3px;
  padding: 2px;
  border-radius: var(--border-radius);
  width: 215px;
}

.search-results-list {
  opacity: 1;
  position: absolute; /* Position the search results list absolutely */
  top: 100%; /* Position the list below the search bar */
  left: 0;
  margin: 3px;
  padding: 2px;
  width: 215px; /* Match the width of the search bar */
  /* background-color: white; */
  color: white;
  font-size: 12px;
  /* box-shadow: 0px 0px 8px var(--accent); */
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.076);
  background: linear-gradient(20deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  max-height: 300px;
  overflow-y: auto; 
}

.result{
  display: flex;
  justify-content: flex-start;
  cursor:pointer;
  width:100%;
  border-radius: 4px;
  z-index: 2;
}

.result:hover{
  background-color: rgba(15, 121, 214, 0.934);
  color: whitesmoke;
}

.searchbar:focus + .search-results-list {
  display: block;
}

/* Card */

.card {
  box-shadow: 0px 0px 4px var(--accent);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.weather-card{
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.upper-div {
  text-align: center;
  margin: auto;
}

.inner-card{
  width: 100%;
}

.feels-like{
  color: var(--accent);
}

#use-current-location{
  cursor: pointer;
  font-size: 14px;
}
#celcius-toggle{
  cursor: pointer;
  font-size: 14px;
}

.current-location-div{
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 5px;
  align-items: center;
  max-width: fit-content;
}

.card-header{
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.humidity{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.transparent-div {
  position: absolute;
  display:inherit;
  pointer-events: none;
}

.other-conditions-div {
  margin: 1.5px;
  position: absolute;
  top: 100;
  right: 100; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  font-size: 15px;
  font-weight: 200;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  /* border: 1px solid rgba(255,255,255,0.18); */
  /* background-color: rgba(255, 255, 255, 0.076); */
  /* background: linear-gradient(20deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1)); */
  /* backdrop-filter: blur(4.9px); */
  /* -webkit-backdrop-filter: blur(4.9px); */
}

.other-conditions-text{
  margin: 2px;
}

.temperature-container{
  align-self: center;
  padding: 20px;
  justify-self: center;
  text-align: center;
  margin: auto;
  position: relative;
}

.card-center-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Day and night card styles */

.daytime {
  background-color: rgb(61, 135, 187);
  color: var(--night-accent);
  box-shadow: 0px 0px 4px var(--accent);
}

.night {
  background-color: rgb(42, 77, 105);
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0px 0px 4px var(--night-accent);
}
