#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  box-shadow: 0px 0px 4px var(--accent);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
  ;
}

.navbar-div{
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%
}

.searchbar{
  margin: 10px;
  padding: 2px;
  border-radius: var(--border-radius);
}

/* Toggle css */

.toggle-div{
  padding: 20px;
  margin: 20px;
}

.toggle input {
  display: none;
}

.toggle {
  cursor: pointer;
  display: inline block;
  height: 20px;
  width: 40px;
  /* transform: translateX); */
  position: relative;
}
/* Toggle Slider */

.slider{
  color:white;
  position: absolute;
  content: '';
  height: 23px;
  width: 42px;
  background-color: #888;
  border-radius: 30px;
  transform: translateX(-15px);
  transition: 0.4s;
}

.slider:before{
  margin: 1.2px 1px 1px 1.2px;
  position: absolute;
  content: '';
  height: 20px;
  width: 25px;
  background-color: whitesmoke;
  border-radius: 30px;
  transform: translateX(-15px);
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(-5px);
  background: #888;
}

input:checked + .slider {
  box-shadow: 0px 0px 0px 2px white, 0px 0px 4px white;
  background: black;
}