#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 15px;
  box-shadow: 0px 0px 4px var(--accent);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.weather-card{
  padding: 10px;
}

.navbar-div{
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%
}

.searchbar{
  margin: 10px;
  padding: 2px;
  border-radius: var(--border-radius);
}

.feels-like{
  color: var(--accent);
}

#use-current-location{
  cursor: pointer;
  font-size: 14px;
}

.current-location-div{
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 5px;
  align-items: center;
  max-width: fit-content;
}
