#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar-div{
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%
}

/* SEARCH BAR */

.search-div {
  position: relative; /* Make the search results list position relative to this container */
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.searchbar {
  margin: 3px;
  padding: 2px;
  border-radius: var(--border-radius);
  width: 215px;
}

.search-results-list {
  opacity: 1;
  position: absolute; /* Position the search results list absolutely */
  top: 100%; /* Position the list below the search bar */
  left: 0;
  margin: 3px;
  padding: 2px;
  width: 215px; /* Match the width of the search bar */
  /* background-color: white; */
  color: white;
  font-size: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.076);
  background: linear-gradient(20deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  max-height: 300px;
  overflow-y: auto; 
}

.result{
  display: flex;
  justify-content: flex-start;
  cursor:pointer;
  width:100%;
  border-radius: 4px;
  z-index: 2;
}

.result:hover{
  background-color: rgba(15, 121, 214, 0.934);
  color: whitesmoke;
}

.searchbar:focus + .search-results-list {
  display: block;
}

/* Card */

.card {
  box-shadow: 0px 0px 4px var(--accent);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  width: 600px;
}

.weather-card{
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.upper-div {
  text-align: center;
  margin: auto;
}

.inner-card{
  width: 100%;
}

.feels-like{
  color: var(--accent);
}

#use-current-location{
  cursor: pointer;
  font-size: 14px;
}
#celcius-toggle{
  cursor: pointer;
  font-size: 14px;
}

.current-location-div{
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 5px;
  align-items: center;
  max-width: fit-content;
}

.card-header{
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.humidity{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.info-div{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.transparent-div {
  position: flex;
  display:inherit;
  pointer-events: none;
  top: 100;
  right: 100;
  width: 100%;
}

.other-conditions-div {
  margin: 1.5px;
  position: flex;
  top: 100;
  right: 100; 
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: 200;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  max-width: 85px;
  /* border: 1px solid rgba(255,255,255,0.18); */
  /* background-color: rgba(255, 255, 255, 0.076); */
  /* background: linear-gradient(20deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1)); */
  /* backdrop-filter: blur(4.9px); */
  /* -webkit-backdrop-filter: blur(4.9px); */
}

.card-center-div{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.transparent-div-2 {
  display:flex;
  justify-content: flex-end;
  pointer-events: none;
  top: 100;
  left: 100;
  width: 100%;
}

.other-conditions-div-2 {
  margin: 1.5px;
  position: flex;
  top: 0;
  right: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: 200;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  max-width: 85px;
  /* border: 1px solid rgba(255,255,255,0.18); */
  /* background-color: rgba(255, 255, 255, 0.076); */
  /* background: linear-gradient(20deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1)); */
  /* backdrop-filter: blur(4.9px); */
  /* -webkit-backdrop-filter: blur(4.9px); */
}

.other-conditions-text{
  margin: 2px;
}

#moonphase-text{
  /* max-width: min-content; */
  text-wrap: wrap;
}

.temperature-container{
  align-self: center;
  padding: 20px;
  justify-self: center;
  text-align: center;
  margin: auto;
  position: relative;
  width: fit-content;
  text-wrap: nowrap;
}

/* CAROUSEL */

.hour-tablet {
  padding: 2px;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15); /* Adjusted box-shadow */
  border: solid 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: fit-content;
  transition: .5s;
  height:75%;
}
.hour-tablet:hover{
  cursor: pointer;
  transform: translate(3px);
  transition: .5s;
}

.tablet-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  gap: 10px;
  width: 100%;
  height: 100%; /* Take full width of the container */
  padding: 2px; /* Add some padding to the sides */
  scroll-snap-type: x mandatory; 
}

.slider-buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%; /* Adjust button width as needed */
}

.slider {
  position: relative;
  width: 100%;
  max-width: 600px; /* Limit the maximum width for larger screens */
  height: 150px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.prev-button,
.next-button {
  background-color: rgba(255, 255, 255, 0.5); /* Translucent background */
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 100%
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Adjust hover effect */
}

.back-div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.forward-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.prev-button img,
.next-button img {
  width: 100%; /* Adjust button icon size */
}


/* Day and night card styles */

.daytime {
  background-color: rgb(61, 135, 187);
  color: var(--night-accent);
  box-shadow: 0px 0px 4px var(--accent);
}

.night {
  background-color: rgb(42, 77, 105);
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0px 0px 4px var(--night-accent);
}
