:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 200;
  --border-radius: 5px;
  --accent: rgba(255, 255, 255, 0.87);
  --night-accent: rgb(1, 31, 75)
  /* --accent: rgba(93, 233, 198, 0.946); */
  /* --accent-hover: rgba(79, 199, 169, 0.946); */

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: 	#544863;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  filter: drop-shadow(0 0 .7em var(--accent));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
  margin: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 10px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.5s;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.076);
  background: linear-gradient(20deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  opacity: 0;
}
button:hover {
  opacity: 1;
  border-color: var(--accent);
  transition: border-color .5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #2b235a;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--accent-hover);
    box-shadow: 0px 0px 2px 4px var(--accent);
  }
  button {
    background-color: #f9f9f9;
  }
}
